<h1>Books</h1>

<%= form_tag(books_path, method: :get) do %>
  <%= text_field_tag 'query'  %>
  <%= submit_tag "Search" %>
<% end %>

<% if @books %>
  <span><%= pluralize(@books.count, 'book') %> found</span>
<% end %>

<%= render 'books/list' %>
