<h1><%= @book.title %></h1>
<%= link_to "Edit book", edit_book_path %>
<%= link_to "Delete book", book_path, method: :delete %>

<h2>Add to shelf</h2>

<% if available_shelves_for(@book).size > 0 %>
  <%= form_for ShelvedBook.new do |f| %>
    <%= f.label :shelf_id, "My shelves" %>
    <%= f.select :shelf_id, available_shelves_for(@book) %>
    <%= f.hidden_field :book_id, value: @book.id %>
    <%= f.submit "Add to shelf" %>
  <% end %>
<% else %>
  You have no available shelves
<% end %>

<p>by <%= @book.author %></p>
<p><%= @book.description %></p>
<small>
  <span>Published in <%= @book.release_year %> / <%= @book.page_count %> pages</span>
</small>
